        * {
            margin: 0;
            padding: 0;
            /* font-family: monospace; */
            font-family: "Roboto Slab", serif;
            /* font-size: large; */
        }

        body {
            /* background-color: #393E46; */
            background-image: url(../asset/login-bg.png);
        }

        .navbar {
            display: flex;
            background-color: #222831;
            /* background-color: rgba(42, 238, 81, 0.659); */
            justify-content: space-between;
            padding: 20px;
            font-weight: bold;
            /* position: sticky; */

        }


        .navlist {
            /* position: sticky; */
            display: flex;
            gap: 30px;
            list-style: none;

        }

        .logo {
            /* display:inline; */
            margin-left: 10px;
            /* display: flex;    */


        }

        a {
            text-decoration: none;
            color: white;

        }

        ul {
            list-style: none;
        }

        .container {

            margin: 10px auto 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 400px;
            flex-direction: column;
            gap: 15px;
            background-color: #e9d3b4;
            /* background-color: rgb(11, 20, 35); */
            border-radius: 20px;
            /* color: white; */
             color: black;
            border: 4px solid black;

        }

        form {
            height: 100%;
            display: flex;

        }

        .menu {
            display: flex;
            padding: 14px;
            gap: 24px;
        }

        label {
            display: block;
            margin: 10px;
            font-weight: bold;
        }



        input {
            width: 250px;
            padding: 9px;
        
        }

        button {
            padding: 7px;
            border-radius: 20px;
            margin-top: 22px;
            width: 200px;
            background-color: rgba(82, 82, 155, 0.96);
            color: beige;
            cursor: pointer;
        }

        h2 {

            margin-top: 25px;
            font-size: xx-large;
        }
         .title {
            display: inline-block;
            font-size: 35px;
            position: absolute;
            margin: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .container p {
            margin: 10px;
        }

        .container p a {
            color: blue;
        }

       

        /* Footer */
        footer {
            background-color: #DFD0B8;
            height: 50px
        }
 